.container {
    text-align: center !important;
    margin: auto;
}

body {
    height: 1200px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}

small {
    color: white !important;
}

.col {
    text-align: center;
    margin: auto;
    margin-top: 200px;
}

input, input:focus, input:active {
    height: 64px !important;
    border: none !important;
    background-color: #f1f1f1 !important;
}